.quarto
*checkpoint.ipynb
/.quarto/
.DS_Store
sol
*SOLUTION*
*cache*
*hidden*
*solutions*
utils/roster.csv
utils/roster_assigned.csv
utils/roster_id.csv
utils/roster_ordered.csv
utils/teams/A/0.csv
utils/teams/A/1.csv
utils/teams/A/2.csv
utils/teams/A/3.csv
utils/teams/A/4.csv
utils/teams/B/0.csv
utils/teams/B/1.csv
utils/teams/B/2.csv
utils/teams/B/3.csv
utils/teams/B/4.csv
lecture-notes/data
assignments/data
assignments/blog-posts/data/2018/1-Year/psam_p01.csv
docs/assignments/blog-posts/data/2018/1-Year/psam_p01.csv
grades
FashionMNIST

*_files